<h1>Mes Commandes</h1>

<table class="containerTable">
    <thead style="height: 2.25rem;font-size: large; font-weight: bold;">
        <th>Date de la commande</th>
        <th style="width: 50%;">Détails</th>
        <th>Etat de la commande</th>
    </thead>

    <tr *ngFor="let b of baskets">
        <td>{{b.createdDate | date:"dd-MM-yyyy à hh:mm"}} </td>
        <td>
            <!-- <table class="itemsTable">
                <thead>
                    <th>Produit</th>
                    <th>Quantité</th>
                </thead>
                <tr *ngFor="let bItems of b.basketItems">
                    <td>{{bItems.product.productName}}</td>
                    <td>{{bItems.quantity}}</td>
                </tr>
            </table> -->
            <button (click)="showDetails(b)">Cliquez ici pour voir les détails</button>

        </td>
        <td *ngIf="b.checkedOut==null" class="notValidBasket"> <img src="../../../assets/icone-en-cours.jpeg"
                style="width: 35px;" title="En cous de validation"> </td>
        <td *ngIf="b.checkedOut==true" class="validBasket"><img src="../../../assets/icone-valide.jpeg"
                style="width: 35px;" title="Validée"></td>

        <td *ngIf="b.checkedOut==false" class="validBasket"><img src="../../../assets/icone-refuse.jpeg"
                style="width: 35px;" title="refusée"></td>
    </tr>

</table>

<div class="details-overlay" *ngIf="showDetailsState">
    <div class="details-container">
        <div>
            <h4>Détails de la commande : </h4>
            <table class="detailsTable">
                <thead style="height: 2.25rem;font-size: large; font-weight: bold;">
                    <th style="width: 25%;">Produit</th>
                    <th style="width: 25%;">Quantité</th>
                    <th style="width: 25%;">Prix</th>
                </thead>
                <tr *ngFor="let bItems of basketItemsToShow">
                    <td style="font-size: large;">{{bItems.product.productName}}</td>
                    <td style="font-size: large;">{{bItems.quantity}}</td>
                    <td> {{bItems.product.productPrice * bItems.quantity}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight: bolder; padding: 5px;">Toal</td>
                    <td style="font-weight: bolder; padding: 5px;">{{basketToShowTotalPrice}} TND</td>
                </tr>
            </table>
            <p style="padding-bottom: 3.5rem;" *ngIf="basketToShowStates"><strong>Etat de la commande :</strong>
                <strong style="color: green;"> Validée</strong>
            </p>
            <p style="padding-bottom: 3.5rem;" *ngIf="basketToShowStates == null"><strong>Etat de la commande :</strong>
                <strong style="color: blue;"> En
                    cours </strong>
            </p>
            <p style="padding-bottom: 0.25rem;" *ngIf="basketToShowStates==false"><strong>Etat de la commande :</strong>
                <strong style="color: red;"> Refusée </strong>
            </p>
            <p style="padding-bottom: 3.5rem;" *ngIf="basketToShowStates==false"><strong>Raison :</strong>
                <strong> {{basketToShowComment}}</strong>
            </p>
        </div>
        <button (click)="hideDetails()" class="closeButton">X</button>
        <button (click)="hideDetails()" class="closeButton2">Fermer</button>
    </div>
</div>