<div style="margin: 2.5rem 0;">
    <h1>403</h1>
    <h4> Forbidden Error!</h4>
    <p>You do not have permission to view this resource.</p>
    <div>
        <a [routerLink]="''">Back to Home</a>
    </div>
</div>