<div class="container">

    <h3>Mon panier</h3>

    <div *ngIf="temporaryBasket.length>0">

        <table>
            <thead>
                <th>Produit</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Prix Total</th>
                <!-- <th>index</th> -->
                <th>Actions</th>
            </thead>
            <tr *ngFor="let b of temporaryBasketItems">
                <td>{{b.product}}</td>
                <td>{{b.unitPrice}} TND</td>
                <td>{{b.quantity}}</td>
                <td>{{b.unitPrice * b.quantity}} TND</td>
                <!-- <td>{{b.indexBasketItem}}</td> -->
                <td>
                    <button class="smallButton" (click)="modifyQuantityBasketItem(b.indexBasketItem)" >Modifier la quantité</button>
                    <button class="smallButton" (click)="deleteTempororyItem(b.indexBasketItem)">Supprimer</button>
                </td>
            </tr>
            <tr style="height: 2.25rem;font-size: large; font-weight: bold;">
                <td colspan="4">Prix de la commande</td>
                <td>{{totalPrice}} TND</td>
            </tr>
        </table>

    </div>

    <div class="btn" *ngIf="temporaryBasket.length>0">
        <button style="margin-right: 5%;" (click)="addBasket()" class="globalButton">Confirmer le panier</button>
        <button (click)="deleteTemporaryBasket()" class="globalButton">Supprimer le panier</button>
    </div>

    <div *ngIf="temporaryBasket.length==0">
        <p style="color: red; font-size: x-large; font-weight: bolder; text-align: center;">Votre panier est vide!</p>
    </div>
</div>

<div class="details-overlay" *ngIf="showMessage">
    <div class="details-container">
        <p class="message">{{message}}</p>
        <button (click)="closeMessageWindow()" class="closeButton2">X</button>
        <button *ngIf="goToLogin" (click)="goToLogine()" class="closeButton">Login</button>
        <button *ngIf="!goToLogin" (click)="closeMessageWindow()" class="closeButton">Fermer</button>
    </div>
</div>