.container {
    margin: 1.5rem;
    border-style: solid;
    border-color: rgb(221, 240, 248);
    background-color: rgb(221, 240, 248);
}

@media (max-width: 685px) {
    .container {
        width: 100%;
        min-width: 315px;
        margin: 1.5rem auto;
        border-style: solid;
        border-color: rgb(221, 240, 248);
        background-color: rgb(221, 240, 248)

    }
}

@media (max-width: 280px) {
    .container {
        width: 100%;
        min-width: auto;
        margin: 1.5rem auto;
        border-style: solid;
        border-color: rgb(221, 240, 248);
        background-color: rgb(221, 240, 248)

    }
}

.smallButton {
    width: 47.5%;
    margin: 1rem auto;
    margin-right: 5%;
    padding: 0.25rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: rgb(247, 233, 235);
    border-color: rgb(247, 233, 235);
    border-radius: 0.3rem;
    font-weight: bolder;
}

@media(max-width: 685px) {
    .smallButton {
        width: 90%;
        display: block;
        margin: 0.5rem auto;
        font-size: xx-small;
        font-weight: lighter;
        padding: 0.25rem;
        height: 2.5rem;
        cursor: pointer;
        background-color: rgb(247, 233, 235);
        border-color: rgb(247, 233, 235);
        border-radius: 0.3rem;
        font-weight: bolder;
    }
}

h3 {
    text-align: center;
    text-decoration: underline;
    padding-left: 1rem;
    font-size: xx-large;
    color: rgb(80, 99, 106);
    font-weight: bold;
}


table {
    border-collapse: collapse;
    width: 90%;
    margin: 2.5rem auto;
    border-style: solid;
    border-width: 3.5px;
    border-color: rgb(80, 99, 106);
}

thead{
    height: 2.25rem;
    font-size: large;
    font-weight: bold;
}

@media(max-width: 300px) {
    thead{
        height: 2.25rem;
        font-size: xx-small;
        font-weight: bold;
    }
}

td,
th {
    text-align: center;
    border-style: solid;
    border-width: 3.5px;
    border-color: rgb(80, 99, 106);
}

td {
    width: auto;
}

.globalButton {
    margin: 0.5rem auto;
    width: 47.5%;
    padding: 0.25rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: rgb(247, 233, 235);
    border-color: rgb(247, 233, 235);
    border-radius: 0.3rem;
    font-weight: bolder;
}

@media(max-width: 300px) {
    .globalButton {
        font-size: xx-small;
    }
}

.globalButton:hover {
    transform: scale(1.075);
    background-color: rgb(247, 233, 235);
    box-shadow: 3px 3px 7px rgb(169, 169, 167);
}

.btn {
    width: 45%;
    margin: 1rem auto;
}

.details-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20.5rem;
    height: 19.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

@media (max-width: 300px) {
    .details-overlay {
        width: 18rem;
    }
}

.details-container {
    background-color: white;
    padding: 1rem;
    width: 17rem;
    height: 16rem;
    overflow: auto;
    scrollbar-width: 1px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f5f5f5;
}

@media (max-width: 300px) {
    .details-container {
        width: 14.5rem;
    }
}

.details-container::-webkit-scrollbar {
    width: 5px;
}

.details-container::-webkit-scrollbar-thumb {
    background-color: rgb(247, 233, 235);
    border-radius: 5px;
}


.details-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(247, 233, 235);
}


.closeButton {
    position: absolute;
    bottom: 1.5rem;
    left: 8rem;
    height: 2rem;
    background-color: rgb(247, 233, 235);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    border-radius: 0.25rem;
    box-shadow: lightgray 3px 3px 7px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
}

@media (max-width: 300px) {
    .closeButton {
        left: 7rem;
    }
}

.closeButton:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
}

.message{
    font-size: xx-large;
    font-weight: bolder;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.closeButton2 {
    position: absolute;
    top: 1.5rem;
    right: 1.75rem;
    height: 2rem;
    background-color: rgb(247, 233, 235);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    border-radius: 0.25rem;
    box-shadow: lightgray 3px 3px 7px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
}

.closeButton2:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
}
