<div class="container">

    <div>
        <h2>Se connecter</h2>
    </div>
    
    <form [formGroup]="loginForm">

        <div>
            <label>Email : </label>
            <input type="email" formControlName="email">
        </div>

        <div>
            <label>Mot de passe : </label>
            <input type="password" formControlName="password">
        </div>

        <div style="width:85%; margin: auto; text-align:center;">
            <a style="text-decoration: none;" routerLink="../signup">Si vous n'êtes pas encore inscrit, veuillez cliquer ici pour créer un compte</a>
        </div>

        <div>
            <button (click)="login(loginForm.value)">Login</button>
        </div>
        
    </form>

</div>