<div class="container">

    <div>
        <h2>Mise à jour du : {{currentProduct?.productName}}</h2>
    </div>

    <form [formGroup]="productForm">

        <div>
            <label>Nom du produit :</label>
            <input type="text" formControlName="productName">
        </div>

        <div>
            <label>Quantité du produit :</label>
            <input type="number" formControlName="productQuantity">
        </div>

        <div>
            <label>Prix du produit :</label>
            <input type="number" formControlName="productPrice">
        </div>

        <div style="display: flex; align-items: center;">
            <label>Image du produit :</label>
            <div style="margin-left: 15% ;width: 60%;">
                <img *ngIf="!selectedImg" [src]="currentProduct?.productImage" width="65%">
                <img *ngIf="selectedImg" [src]="imagePreview" width="65%">
            </div>

        </div>

        <div>
            <label style="display: block;width: 70%;text-align: center; margin: 2rem auto;">Cliquer sur le bouton pour modifier
                l'image du produit :</label>
            <input style="margin: 2rem auto;display: flex; justify-content: center;" type="file" accept="image/*"
                capture="camera" aria-label="Choisir l'image" (change)="onFileSelected($event)">
        </div>

        <div>
            <button style="margin-right: 2rem;" (click)="updateProduct()">Confirmer</button>
            <button (click)="cancelUpdateProduct()">Annulet</button>
        </div>

    </form>

</div>