.container{
    width: 70%;
    margin: 5rem auto;
    background-color: rgb(221, 240, 248);
}

div :has(h2){
    padding-top: 1rem;
}

h2{
    text-align: center;
    font-size:xx-large;
    color: rgb(80, 99, 106);
}

div > label{
    margin: 1rem 1rem 1rem 1rem;
    display: inline-block;
    width: 9rem;
}

div > label+input{
    margin: 1rem 1rem 1rem 1rem;
    height: 1.5rem;
    width: 60%;
}

.container > form > div:has(button){
    text-align: center;
}

button{
    height: 1.75rem;
    width: 5rem;
    cursor: pointer;
    margin: auto;
    margin: 1.5rem auto;
    border-color: rgb(247, 233, 235);
    border-radius: 0.5rem;
    background-color: rgb(247, 233, 235);
    font-weight: bold;
}

button:hover{
    transform: scale(1.05);
    background-color: rgb(247, 233, 235);
    box-shadow: 3px 3px 7px rgb(169, 169, 167);
}