div {
    height: 3rem;
    background-color: beige;
}

@media (max-width: 685px) {
    div {
        height: auto;
        margin: 1rem auto;
        background-color: beige;
    }
}
footer{
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
}



a {
    margin-right: 3rem;
}

@media (max-width: 685px) {
    a {
        display: block;
        margin-right: auto;
    }
}