<div class="container" [ngClass]="{'inactivePage':showMessage}">


    <h3>Liste de produits :</h3>


    <div *ngIf="products && products.length > 0" class="divCard">

        <div *ngFor="let p of products" class="card">

            <div style="display: block; margin-top: 1rem;">
                <div class="property">Produit : {{p.productName}}</div>
                <div class="property">Quantité : {{p.productQuantity}}</div>
                <div class="property">Prix : {{p.productPrice}}</div>
            </div>

            <div *ngIf="p?.productQuantity === 0">
                <img src="../../../assets/stock-epuise.jpeg" class="outOfStockImg">
            </div>

            <div *ngIf="p?.productQuantity != 0">
                <img class="prodImg" [src]="p?.productImage" [title]="p.productName">
            </div>


            <div class="btn">
                <button *ngIf="!isAdminConnected" class="button1" (click)="addToBasket(p.id,p.productQuantity)"
                    [disabled]="!buttonActive" [disabled]="p?.productQuantity == 0">Ajouter
                    au panier</button>
                <button *ngIf="isAdminConnected" style="margin-right: 1rem;" class="button1"
                    (click)="editProduct(p.id)">Modifier le produit</button>
                <!-- <button *ngIf="isAdminConnected" class="button1">Archiver</button> -->
            </div>

        </div>

    </div>

    <div *ngIf="products && products.length > 0" style="display: flex; justify-content: center; margin-top: 2rem; text-align: center;">

        <button style=" margin-right: 10px;" class="direction" (click)="previousPage()" title="page précedente"
            [disabled]="page < 1">&lt;&lt;</button>

        <div style="display: inline-block; text-align: center;">
            <span>Page </span><button class="button2">{{page+1}} / {{nbrPages}}</button>
        </div>

        <button class="direction" (click)="nextPage()" title="page suivante"
            [disabled]="page > nbrPages-2">&gt;&gt;</button>

    </div>

    <div *ngIf="!products || products.length === 0">
        <p>Pas de produits disponibles</p>
    </div>
</div>

<div class="details-overlay" *ngIf="showMessage" style="z-index: 100;">
    <div class="details-container">
        <p class="message">{{message}}</p>
        <button (click)="closeMessageWindow()" class="closeButton">Fermer</button>
    </div>
</div>