.container {
    max-width: 1300px;
    margin: 1.5rem auto;
    border-style: solid;
    border-color: rgb(221, 240, 248);
    background-color: rgb(221, 240, 248);
}

@media (min-width: 1350px) {
    .container {
        margin: 1.55rem 13rem;
    }
}

@media (min-width: 1050px) {
    .container {
        margin: 1.55rem 5rem;
    }
}


@media (max-width: 750px) {
    .container {
        width: 60%;
    }
}

@media (max-width: 530px) {
    .container {
        width: 90%;
    }
}

.divCard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

@media (max-width: 750px) {
    .divCard {
        display: block;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }
}

.card {
    background-color: white;
    /* border-style: solid; */
    width: 30%;
    height: 26rem;
    margin-top: 1rem;
}

@media (max-width: 900px) {
    .card {
        height: 23rem;
    }
}

@media (max-width: 750px) {
    .card {
        background-color: white;
        /* border-style: solid; */
        width: 70%;
        height: 23rem;
        margin: 1.5rem auto;
        padding-top: 0.05rem;
    }
}

@media (max-width: 370px) {
    .card {
        height: 18.5rem;
    }
}

@media (max-width: 300px) {
    .card {
        height: 19.5rem;
    }
}

.card:hover {
    transform: scale(1.075);
    background-color: beige;
    /* box-shadow: 5px 5px 5px rgb(169, 169, 167); */
    box-shadow: 0 4px 17px rgb(169, 169, 167);
}

.property {
    margin: 0.25rem 2rem;
    font-weight: bold;
}

.prodImg {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 1rem;
    display: block;
    border-radius: 0.25rem;
}

@media (max-width: 1150px) {
    .prodImg {
        width: 225px;
        height: 225px;
    }
}

@media (max-width: 900px) {
    .prodImg {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 370px) {
    .prodImg {
        width: 130px;
        height: 130px;
    }
}

.outOfStockImg {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 1rem;
    display: block;
    border-radius: 50%;
}

@media (max-width: 900px) {
    .outOfStockImg {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 370px) {
    .outOfStockImg {
        width: 130px;
        height: 130px;
    }
}

h3 {
    text-decoration: underline;
    padding-left: 1rem;
    font-size: xx-large;
    color: rgb(80, 99, 106);
}

button {
    cursor: pointer;
    margin-bottom: 0.75rem;
}

.btn {
    text-align: center;
    margin-top: 1.25rem;
}

.button1 {
    height: 2.25rem;
    background-color: rgb(247, 233, 235);
    border-color: rgb(247, 233, 235);
    border-radius: 0.3rem;
    font-weight: bolder;
}

.button1:hover {
    transform: scale(1.05);
    background-color: rgb(247, 233, 235);
    box-shadow: 3px 3px 7px rgb(169, 169, 167);
}

.button2 {
    /* height: 2rem; */
    margin-right: 10px;
    background-color: rgb(247, 233, 235);
    border-color: rgb(247, 233, 235);
    border-radius: 0.3rem;
    font-weight: bolder;
}

.select-option {
    min-width: 10rem;
}

.hidden {
    visibility: hidden;
}

.details-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20.5rem;
    height: 19.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

@media (max-width: 300px) {
    .details-overlay {
        width: 18rem;
    }
}

.details-container {
    background-color: beige;
    padding: 1rem;
    width: 17rem;
    height: 16rem;
    overflow: auto;
    scrollbar-width: 1px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f5f5f5;
}

@media (max-width: 300px) {
    .details-container {
        width: 14.5rem;
    }
}

.details-container::-webkit-scrollbar {
    width: 5px;
}

.details-container::-webkit-scrollbar-thumb {
    background-color: rgb(247, 233, 235);
    border-radius: 5px;
}


.details-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(247, 233, 235);
}


.closeButton {
    position: absolute;
    bottom: 1.5rem;
    left: 8rem;
    height: 2rem;
    background-color: rgb(247, 233, 235);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    border-radius: 0.25rem;
    box-shadow: lightgray 3px 3px 7px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
}

@media (max-width: 300px) {
    .closeButton {
        left: 6.75rem;
    }
}

.closeButton:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
}

.message{
    font-size: xx-large;
    font-weight: bolder;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.inactivePage{
    pointer-events: none;
    opacity: 0.75;
}

.direction{
    display: inline;
    color: rgb(232, 107, 126);
    font-weight: bolder;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

.direction:hover {
    transform: scale(1.5);
}