<div class="main">

        <header>
                <nav>
                        <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Home
                                </a></li>
                        <li><a routerLink="product" [ngClass]="{'notActive': !isAdminConnected }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Ajouter un
                                        produit </a></li>
                        <li><a routerLink="products" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact : true}"> Liste des
                                        produits </a> </li>
                        <li><a routerLink="temporarybasket" [ngClass]="{'notActive': isAdminConnected }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Mon_Panier
                                </a> </li>
                        <li><a routerLink="allbaskets" [ngClass]="{'notActive': !isAdminConnected }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                                        Les_Commandes_Reçues </a> </li>
                        <li><a routerLink="mybaskets" [ngClass]="{'notActive': !isUserConnected }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
                                        Mes_Commandes </a> </li>
                        <li><a routerLink="signup" [ngClass]="{'notActive': isAdminConnected || isUserConnected }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Signup
                                </a>
                        </li>
                        <li><a routerLink="login" [ngClass]="{'notActive': isAdminConnected || isUserConnected }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> Login </a>
                        </li>
                        <li><a style="cursor: pointer;" (click)="logOut()"
                                        [ngClass]="{'notActive': !(isUserConnected || isAdminConnected) }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"> LogOut
                                </a> </li>
                </nav>
        </header>
</div>