.main {
    display: flex;
    justify-content: flex-end;
    height: 3rem;
    background-color: beige;
}

@media (max-width: 725px) {
    .main {
        display: block;
        justify-content:center;
        height:auto;
        background-color: beige;
    }
}

li {
    text-decoration: none;
    display: inline;
}

@media (max-width: 725px) {
    li {
        display: block;
        text-align: center;
    }
}

a {
    color: rgb(80, 99, 106);
    margin-right: 1rem;
    text-decoration-line: none;
    border: 0.5px solid rgb(80, 99, 106);
    border-radius: 5px;
    padding: 0.25rem;
}

@media (max-width: 725px) {
    a {
        color: rgb(80, 99, 106);
        margin-right: 1rem;
        text-decoration-line: none;
        border:none;
        border-radius: 5px;
        padding: 0.25rem;
    }
}

a:focus {
    color: rgb(7, 178, 240);
}

a:hover {
    font-weight: bolder;
    color: rgb(10, 210, 40);
}

a.active {
    font-weight: bolder;
    color: rgb(7, 178, 240);
}

nav {
    padding: 1rem 1rem 1rem 1rem;
}

.notActive {
    display: none;
}