h1 {
    text-align: center;
    text-decoration: underline;
    padding-left: 1rem;
    font-size: xx-large;
    color: rgb(80, 99, 106);
    font-weight: bold;
}

.containerTable {
    border-collapse: collapse;
    width: 90%;
    margin: 2.5rem auto;
    border-style: solid;
    border-width: 3.5px;
    border-color: rgb(80, 99, 106);
}


.containerTable td {
    text-align: center;
    border-style: solid;
    border-width: 3.5px;
    border-color: rgb(80, 99, 106);
}

.containerTable th {
    text-align: center;
    border-style: solid;
    border-width: 3.5px;
    border-color: rgb(80, 99, 106);
}

.btn {
    display: flex;
    width: 70%;
    margin: 0.1rem auto;
    align-items: center;
}

@media (max-width: 540px) {
    .btn {
        display: block;
        width: 70%;
        margin: 0.1rem auto;
    }
}

.blueBtn {
    margin: 0.5rem auto;
    padding: 0.025rem;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.3rem;
    margin-right: 5%;
}

.blueBtn:hover {
    transform: scale(1.075);
}

.greenBtn {
    margin: 0.5rem auto;
    width: auto;
    padding: 0.025rem;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.3rem;
}

.greenBtn:hover {
    transform: scale(1.075);
}

.validatedBasket {
    margin: 0.5rem auto;
    padding: 0.025rem;
    background-color: transparent;
    border-color: transparent;
}

.details-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20.5rem;
    height: 19.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

@media (max-width: 300px) {
    .details-overlay {
        width: 18rem;
    }
}

.details-container {
    background-color: white;
    padding: 1rem;
    width: 17rem;
    height: 16rem;
    overflow: auto;
    scrollbar-width: 1px;
    scrollbar-width: thin;
    scrollbar-color: #888 #f5f5f5;
}

@media (max-width: 300px) {
    .details-container {
        width: 14.5rem;
    }
}

.details-container::-webkit-scrollbar {
    width: 5px;
}

.details-container::-webkit-scrollbar-thumb {
    background-color: rgb(247, 233, 235);
    border-radius: 5px;
}


.details-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(247, 233, 235);
}

.closeButton {
    position: absolute;
    top: 1.5rem;
    right: 1.75rem;
    height: 2rem;
    background-color: rgb(247, 233, 235);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    border-radius: 0.25rem;
    box-shadow: lightgray 3px 3px 7px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
}


.closeButton:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
}

.closeButton2 {
    position: absolute;
    bottom: 1.5rem;
    left: 8rem;
    height: 2rem;
    background-color: rgb(247, 233, 235);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    border-radius: 0.25rem;
    box-shadow: lightgray 3px 3px 7px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
}

@media (max-width: 300px) {
    .closeButton2 {
        left: 6.75rem;
    }
}

.closeButton2:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
}

.detailsTable {
    border-collapse: collapse;
    width: 95%;
    margin: 0.5rem auto 2.5rem auto;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(80, 99, 106);
}


.detailsTable td {
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(80, 99, 106);
}

.detailsTable th {
    text-align: center;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgb(80, 99, 106);
}

.refuseButton {
    position: absolute;
    bottom: 1.5rem;
    left: 3.5rem;
    height: 2rem;
    background-color: rgb(247, 233, 235);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    border-radius: 0.25rem;
    box-shadow: lightgray 3px 3px 7px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
}

@media (max-width: 300px) {
    .refuseButton {
        left: 6.75rem;
    }
}

.refuseButton:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
}

.cancelButton {
    position: absolute;
    bottom: 1.5rem;
    right: 3.5rem;
    height: 2rem;
    background-color: rgb(247, 233, 235);
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    border-radius: 0.25rem;
    box-shadow: lightgray 3px 3px 7px;
    outline: none;
    font-size: 14px;
    font-weight: bolder;
}

@media (max-width: 300px) {
    .cancelButton {
        left: 6.75rem;
    }
}

.cancelButton:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
    box-shadow: lightgray 0 0 5px;
}