<h1>Liste Des Commandes</h1>

<div>
    <table class="containerTable">
        <thead style="height: 2.25rem;font-size: large; font-weight: bold;">
            <th>Date de la commande</th>
            <th>Client</th>
            <th>Actions</th>

        </thead>

        <tr *ngFor="let b of baskets">
            <td style="font-size: large;">{{b.createdDate | date:"dd-MM-yyyy à hh:mm"}} </td>
            <td style="font-size: large;">{{b.user.firstName}} {{b.user.lastName}}</td>
            <td>
                <div class="btn">
                    <button class="blueBtn" (click)="showDetails(b,'show')"><img src="../../../assets/icoon-loop.jpeg"
                            style="width: 45px;" title="Cliquer pour voir les détails"></button>
                    <button class="greenBtn" *ngIf="b.checkedOut==null" [disabled]="b.checkedOut"
                        (click)="validateBasket(b)"><img src="../../../assets/icone-waiting.jpeg" style="width: 40px;"
                            title="Cliquer pour valider la commande"></button>
                    <button class="validatedBasket" *ngIf="b.checkedOut" disabled="true"><img
                            src="../../../assets/icone-valide.jpeg" title="Commande validée"
                            style="width: 40px;"></button>
                    <button class="validatedBasket" *ngIf="b.checkedOut==false" disabled="true"><img
                            src="../../../assets/icone-refuse.jpeg" title="Commande refusée"
                            style="width: 40px;"></button>
                </div>
            </td>

        </tr>

    </table>
</div>

<div class="details-overlay" *ngIf="basketToShowDetails">
    <div class="details-container">
        <div *ngIf="basketToShowDetails">
            <h4> <strong style="font-size: large;">Client :</strong> {{basketToShowDetails.user.firstName}}
                {{basketToShowDetails.user.lastName}}</h4>
            <h4> <strong style="font-size: large;">Numéro de téléphone :</strong> {{basketToShowDetails.user.phone}}
            </h4>
            <table class="detailsTable">
                <thead style="height: 2.25rem;font-size: large; font-weight: bold;">
                    <th style="width: 25%;">Produit</th>
                    <th style="width: 25%;">Quantité</th>
                    <th>Prix</th>
                </thead>
                <tr *ngFor="let item of basketToShowDetails.basketItems">
                    <td style="font-size: large;">{{item.product.productName}} </td>
                    <td style="font-size: large;">{{item.quantity}}</td>
                    <td> {{item.product.productPrice * item.quantity}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="font-weight: bolder;">Toal</td>
                    <td style="font-weight: bolder;">{{basketToShowTotalPrice}} TND</td>
                </tr>
            </table>
            <!-- <ul *ngFor="let item of basketToShowDetails.basketItems" style="margin-bottom: 1.7rem;">
                <li>Produit : {{item.product.productName}}</li>
                <li>Quantité : {{item.quantity}}</li>
            </ul> -->
        </div>
        <button (click)="hideDetails()" class="closeButton">X</button>
        <button *ngIf="!canRefuse" (click)="hideDetails()" class="closeButton2">Fermer</button>
        <div *ngIf="canRefuse" style="margin-bottom: 3.5rem;">
            <label style="font-weight: bolder;" for="comment">Commentaire : </label>
            <textarea id="comment" [(ngModel)]="comment"
                style="margin-top: 1rem; width: 95%; min-height: 5rem;"> </textarea>
        </div>
        <span *ngIf="canRefuse">
            <button (click)="refuseBasket(basketToShowDetails.id)" class="refuseButton">Refuser</button>
            <button (click)="hideDetails()" class="cancelButton">Annuler</button>
        </span>

    </div>
</div>