
<div class="container">

    <div>
        <h2>Ajouter un produit</h2>
    </div>

    <form [formGroup]="productForm" >

        <div>
            <label >Nom du produit :</label>
            <input type="text" formControlName="productName">
        </div>

        <div>
            <label >Quantité du produit :</label>
            <input type="number" formControlName="productQuantity" >
        </div>

        <div>
            <label >Prix du produit :</label>
            <input type="number" formControlName="productPrice">
        </div>

        <div>
            <label >Image du produit :</label>
            <input type="file" (change)="onFileSelected($event)">
        </div>

        <div>
            <button (click)="addProduct()">Ajouter</button>
        </div>

    </form>

</div>