<div class="container">

    <div>
        <h2>Créer un compte</h2>
    </div>

    <form [formGroup]="signupForm">

        <div>
            <label>Prénom : </label>
            <input type="text" formControlName="firstName">
        </div>

        <div>
            <label>Nom : </label>
            <input type="text" formControlName="lastName">
        </div>

        <div>
            <label>Email : </label>
            <input type="email" formControlName="email">
        </div>

        <div>
            <label>Mot de passe : </label>
            <input type="password" formControlName="password">
        </div>

        <div>
            <label>Téléphone : </label>
            <input type="tel" formControlName="phone">
        </div>

        <div>
            <button (click)="register()">Signup</button>
        </div>

    </form>

</div>