h1 {
    text-align: center;
    color: rgb(80, 99, 106);
}

div:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
}

div:has(p) {
    width: 75%;
    margin: 3rem auto;
}

p {
    font-size: large;
    font-weight: bold;
}