<h1>My_Shop</h1>
<div>
    <img src="../../../assets/shop.jpeg" alt="">
</div>
<div style="text-align: center;">
    <p>
        Bienvenue dans My-Shop ! <br>
        Parcourez notre catalogue de produits variés et trouvez ce que vous recherchez. Ajoutez les articles souhaités à votre panier en un simple clic. Suivez l'état de votre commande et recevez des notifications pour les mises à jour. Contactez notre équipe d'assistance dédiée en cas de questions ou de problèmes. Profitez d'une expérience de magasinage en ligne pratique et agréable.
    </p>
</div>

